In [6]:
import pandas as pd
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

checking the number of list in the pandas to get our perticular dataframe from the list

In [7]:
len(df)

3

There are three list which represent the dataframe, i'm going to display the first index of the list which is our 
requird data

In [8]:
df[0]

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

we need to store our dataframe in some variable so we store our data in the dataframe variable

In [9]:
dataframe=df[0]

In [10]:
dataframe.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Our primary task is droping the unwanted data from the table, i have created variable df_filter to store the unwanted
data from table and use drop function to drop the data from our dataframe

In [32]:
df_filter=dataframe[(dataframe['Borough']=='Not assigned') &(dataframe['Neighbourhood']=='Not assigned')].index

In [33]:
 dataframe.drop(df_filter, inplace=True)

In [34]:
dataframe

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

we can see our clean data above in our dataframe

In [36]:
dataframe.shape

(210, 3)

There are 210 rows and 3 columns available which we need for our analysis purpose.